#mask {
  /* mask-image: linear-gradient(180deg, black 0%, black 80%, transparent 100%); */
  width: calc(100vw);
  height: calc(100vh);
  overflow: hidden;
}

#content {
  width: 100%;
  /* padding-left: 25%;
  padding-right: 25%; */
  margin: 0 auto;
  padding-top: 30px;
  scroll-snap-type: y proximity;
  position: absolute;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-bottom: calc(20vh);
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.5s ease;
}

#content>div {
  scroll-snap-align: center;
  flex: none;
  scroll-snap-stop: always;
}

.dark {
  background-color: rgba(0, 0, 0, 0.6) !important;
}