#logo-space {
  width: calc(35vh);
  height: calc(35vh);
  margin: 0 auto;
}

#logo {
  position: relative;
  height: 100%;
}

.glitter {
  position: absolute;
  left: 8%;
  width: 95%;
}

#glitter1 {
  top: calc(-1.5vh);
}

#glitter2 {
  top: calc(0.5vh);
}

#flowerCrown {
  position: absolute;
  width: 100%;
  rotate: 90deg;
}

#goldenRings {
  position: absolute;
  width: 100%;
  left: 5%;
  top: calc(-2vh);
}

#circle {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  left: 15%;
  position: absolute;
  top: 5%;
  box-shadow: 0 0 calc(10vh) #dfc4a4;
}

.logoChar {
  position: absolute;
  display: block;
  font-family: 'Great Vibes';
  font-size: calc(10vh);
  color: #ebe4b3;
  text-shadow: rgba(115, 115, 115, 0.48) calc(0.5vh) calc(0.5vh) calc(0.3vh)
}

#K {
  top: 18%;
  left: 23%
}

#L {
  top: 37%;
  left: 50%;
  font-size: calc(11vh);
}
