#bgImg {
  background-image: url(../../../resources/bg.jpg);
  background-size: cover;
  position: fixed;
  background-position-x: center;
  background-position-y: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

